:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #ff6c00;
}

body {
  font-family: var(--main-font);
}
/* ======= COMPONENTS ======= */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
}

img {
  display: block;
}

.navigation-list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
    }

.modal-btn {
        width: 160px;
        border 1px solid var(--main-color);
    border-radius: 25px;
    padding: 12px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
  cursor: pointer;
  background-color: transparent;
}

.modal-btn:hover;
.modal-btn:focus; {
    background-color: var(--main-color);
    color: var(--white);
}
.address {
  font-style: normal;
}

.social-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-links__link:hover,
.social-links__link:focus {
  color: var(--main-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 20px;
}
.undertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.undertitle-light-theme,
.secondary-header-light-theme {
  color: #303030;
}
.undertitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);
}

.secondary-header-dark-theme {
  /* color: #fff; */
}

/* ======= END COMPONENT ======= */

/* ======= HEADER ======= */

.header .container {
  align-items: center;
  display: flex;
  padding-top: 32px;
}

.navigation {
  display: flex;
  }

.navigation-logo {
  margin-right: 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 41px;
}

.header .address {
  margin-left: auto;
  margin-right: 41px;
}

.navigation-list-link,
.adress-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  /* color: #FFFFFF;  */
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.adress-phone-number:hover,
.adress-phone-number:focus {
  color: var(--main-color);
}

/* ======= END HEADER ======= */

/* ======= HERO ======= */

.hero .container {
    display: flex;
}

.social-links{
    display: flex;
    width:100px;
    }

.social-link__item:not(:last-child){
        margin-right:40px;
    }
.hero-right-side{
    padding-left 100px;
    padding-top: 272px;
    background-color: #ccc;
    padding-bottom: 206px;
    align-items: stretch;
}

.main-header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  /* color: #FFFFFF; */
}

.hero .description {
  color: #9da4bd;
  width: 360 px;
}

/* ======= END HERO ======= */

/* ======= ABOUT ======= */
.secondary-header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}
.about__right-side-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: #555555;
}
/* ======= END ABOUT ======= */

/* ======= SERVICES ======= */
.services-list-item-name,
.services-list-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ======= END SERVICES ======= */

/* ======= WHY US ======= */

.why-us__list-counter {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.why-us__list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: #303030;
}

/* ======= END WHY US ======= */

/* ======= BARBERS ======= */
.barbers__list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers__list-job {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* ======= END BARBERS ======= */

/* ======= GALLERY ======= */
/* ======= END GALLERY ======= */

/* ======= CONTACT ======= */
.address__list-link,
.contact-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact__info .undertitle {
  /* color: #fff; */
}

/* ======= END CONTACT ======= */

/* ======= FOOTER ======= */

.footer__copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

/* ======= END FOOTER ======= */
